<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add to cart</title>
</head>

<body>
    <h1 style="text-align: center;">Product added to Cart</h1>
    <br>
    <a href="/home"
        style="display: inline-block; border: 1px solid black; background: black; color: white; padding: 20px; text-decoration: none; font-weight: bold;">click
        here to go back</a>
        <b></b>
    <a href="/my-cart"
        style="display: inline-block; border: 1px solid black; background: black; color: white; padding: 20px; text-decoration: none; font-weight: bold;">View Cart</a>
</body>

</html>